// src/styles/_variables.scss   

$border-radius: 18px;

// Colores base
$violet-base: #cd4fec;
$violet-dark: #621065;
$violet-light: #f7e9fe;

// Light Mode
$light-bg: #F5F3FF;
$light-card: #FFFFFF;
$light-text: $violet-dark;
$light-primary: $violet-base;
$light-danger: #F43F5E;
$light-secondary: #A78BFA;
$light-disabled: #E2E8F0; // Un gris azulado claro
$light-disabled-text: #94A3B8;

// Dark Mode
$dark-bg: #0F071B;
$dark-card: #1E152E;
$dark-text: $violet-light;
$dark-primary: #A78BFA; // Violeta pastel para contraste
$dark-danger: #FB7185;
$dark-secondary: #D8B4FE; // Violeta claro para texto secundario
$dark-disabled: #334155; // Un gris azulado oscuro
$dark-disabled-text: #64748B;
$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

:root {
  --bg-color: #{$light-bg};
  --card-bg: #{$light-card};
  --text-main: #{$light-text};
  --primary: #{$light-primary};
  --danger: #{$light-danger};
  --secondary: #{$light-secondary};
  --disabled: #{$light-disabled};
  --disabled-text: #{$light-disabled-text};
}

[data-theme='dark'] {
  --bg-color: #{$dark-bg};
  --card-bg: #{$dark-card};
  --text-main: #{$dark-text};
  --primary: #{$dark-primary};
  --danger: #{$dark-danger};
  --secondary: #{$dark-secondary};
  --disabled: #{$dark-disabled};
  --disabled-text: #{$dark-disabled-text};
}