@use '../../../variables' as v;

.listItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 5px;
}

.itemContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  label {
    flex: 1;
    display: flex;
    align-items: center;
    cursor: pointer;

    input {
      margin-right: 10px;
    }
  }
}
.completed {
  text-decoration: line-through;
  color: var(--secondary);
}

.buttons {
  display: flex;
  gap: 3px;
  align-items: center;
}

.description {
  margin-top: 5px;
  padding-left: 25px;
  color: var(--secondary);
  p {
    margin: 0;
  }
}

.editModalContent {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 12px;
  user-select: none;
  svg {
      color: var(--card-bg);  
    }

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .customCheck {
    width: 22px;
    height: 22px;
    border: 2px solid var(--primary);
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    background-color: transparent;
    flex-shrink: 0; 
  }

  &:hover .customCheck {
    box-shadow: 0 0 0 4px rgba(v.$violet-base, 0.1);
  }

  h3 {
    margin: 0;
    font-size: 1rem;
    transition: color 0.3s ease;
    
    &.completed {
      color: var(--disabled-text) !important;
      text-decoration: line-through;
    }
  }
}