@use '../../../variables' as v;

.wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--primary);
  border-radius: v.$border-radius;
  color: var(--text-main);
  overflow: hidden;
  transition: transform 0.2s ease;

  h2 {
    background-color: var(--primary);
    color: var(--bg-color);
    margin: 0;
    padding: 10px;
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

.header {
  background-color: var(--primary);
  color: var(--bg-color);
  margin: 0;
  
  gap: 8px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
  }

  button {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: antiquewhite;

    svg {
      fill: var(--bg-color) !important;
      stroke: var(--bg-color) !important
    }
  }
}

.windowControls {
  display: flex;
  gap: 8px;

  button {
    width: 22px;
    height: 22px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: var(--card-bg);
}

.list {
  padding: 0;
}

