@use '../../../variables' as v;

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: v.$border-radius;
    overflow: hidden;
    transition: all 0.2s ease;
    border: 1px solid transparent;
    padding: 4px;

    &.primary {
        background-color: var(--translucent-primary);
        border-color: var(--primary);
        box-shadow: inset 0 0 0 1px var(--translucent-primary);

        .button {
            background-color: var(--primary);
        }

        &:focus-within {
            box-shadow: 0 0 0 2px var(--translucent-primary);
        }
    }

    &.secondary {
        background-color: var(--translucent-secondary);
        border-color: var(--bg-color);
        box-shadow: inset 0 0 0 1px var(--translucent-secondary);



        .button {
            background-color: transparent;
            border-left: 1px solid var(--disabled-text);

            svg {
                color: var(--primary) !important;
            }
        }

        &:focus-within {
            box-shadow: 0 0 0 2px var(--translucent-secondary);
        }
    }
}

.input {
    box-sizing: border-box;
    border: none;
    background: transparent;
    color: var(--text-main);
    outline: none;
    padding: 0;
}

.button {
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
}

.iconWrapper {
    svg {
        width: 100%;
        height: 100%;
        display: block;
    }
}