@use '../variables' as v;

#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  svg {
    stroke: var(--primary);
    fill: var(--primary);
  }
  h2 {
    font-weight: 500;
  }

  h3,
  h4 {
    color: var(--primary);
    margin: 0;
    font-weight: 400;
  }

  p {
    color: var(--text-main);
    margin: 0;
  }
 input {
  background-color: transparent;
 }
  button {
    background-color: transparent;
    padding: 0;
    border: none;
    display: flex;
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.lists-grid {
  display: grid;
  padding: 20px;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  width: 100%;
}

@media (max-width: v.$mobile-breakpoint) {
  .lists-grid {
    grid-template-columns: 1fr;
    padding: 10px;
  }
}